<!DOCTYPE html>
<html>
<head>
  <title>MarionetteRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application" %>
<script>
  App.posts = <%=raw Post.all.to_json %>;
</script>
</body>
</html>
